.header-bg {
  background: var(--c12);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.header ul {
  display: flex;
  gap: 40px;
}

.header ul li {
  padding: 10px 20px;
}

.header ul li:hover {
  background: var(--c11);
  border-radius: 5px;
}

@media (max-width:600px) {
  .header nav {
    padding: 10px;
  }
  .header ul {
    font-size: 1rem;
    gap: 10px;
  }
  .header ul li {
    padding: 10px 10px;
  }
}