.home-bg {
  background: linear-gradient(90deg, var(--c0) 50%, var(--c12) 50%);
}

.home {
  display: grid;
  position: relative;
  grid-template-columns: 7fr 5fr;
  gap: 120px;
  align-items: center;
  padding: 220px 40px;
}

.home-desc h1 {
  max-width: 12ch;
}

.home-img::after {
  content: "";
  position: absolute;
  width: 74px;
  height: 74px;
  bottom: -35px;
  right: 220px;
  background: url("../icons/raio.svg");
}

@media (max-width: 850px) {
  .home {
    gap: 60px;
    padding: 110px 40px;
  }
  .home-desc h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .home-bg {
    background: initial;
  }
  .home {
    grid-template-columns: 1fr;
    padding: 50px 40px;
  }
  .home-desc {
    justify-self: center;
  }
  .home-desc h1 {
    max-width: 10ch;
  }
  .home-img {
    display: none;
  }
  .home-img::after {
    display: none;
  }
}