.pele-bg {
  background: linear-gradient(90deg, var(--c12) 50%, var(--c0) 50%);
}

.pele {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 100px 40px;
}

.pele::after {
  content: "";
  position: absolute;
  width: 74px;
  height: 74px;
  bottom: -35px;
  left: 220px;
  background: url("../icons/raio.svg");
}

.pele-img {
  margin-top: 120px;
}

.pele-img img:first-child {
  margin-bottom: 20px;
}

.pele-desc {
  position: relative;
}

.pele-titulo {
  display: grid;
  justify-content: end;
}

.pele-titulo h2 {
  display: flex;
  gap: 20px;
}

.pele-titulo span {
  margin-bottom: 20px;
  text-align: right;
}

.pele-desc p {
  text-align: right;
}

@media (max-width: 1000px) {
  .pele-desc p {
    font-size: 1.5rem;
  }
}

@media (max-width: 850px) {
  .pele-desc h2 {
    font-size: 3rem;
  }
  .pele-desc h2 img {
    display: none;
  }
  .pele-desc span {
    font-size: 1.5rem;
  }
  .pele-desc p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .pele-bg {
    background: var(--c0);
  }
  .pele {
    padding: 50px 40px;
  }
  .pele {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .pele::after {
    display: none;
  }
  .pele-img {
    grid-row: 2;
    margin-top: 0px;
    justify-self: center;
  }
  .pele-titulo {
    justify-content: start;
  }
  .pele-titulo h2 {
    font-size: 2rem;
  }
  .pele-titulo span {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px;
  }
  .pele-desc p {
    text-align: left;
  }
}